<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Name Extractor App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <a href="/" >Home</a>
        <a href="about"class="active">About</a>
    </nav>
    <header>
        <h1>What is Name Extractor App</h1>
    </header>
    <div class="container" >
        <p>Welcome to the Name Extractor App, a simple and efficient tool designed to streamline the process of extracting names from Excel files. Whether you're a business professional, researcher, or anyone who deals with large datasets, our application can save you time and effort by automating the name extraction process.</p>
        <p>Why would you want to use our app?</p>
        <ul>
            <li><strong>Efficiency:</strong> Manually extracting names from Excel files can be time-consuming and error-prone. Our app automates the extraction process, ensuring accuracy and efficiency.</li>
            <li><strong>Data Cleansing:</strong> Large datasets often contain various types of information. Our app allows you to focus specifically on extracting names, helping you clean and organize your data more effectively.</li>
            <li><strong>User-Friendly:</strong> You don't need to be a tech expert to use our app. With a simple upload and click process, anyone can easily extract names from Excel files without hassle.</li>
            <li><strong>Time Saving:</strong> The time you save using our app can be better spent on other important tasks. No more manual copy-pasting or data entry for name extraction.</li>
        </ul>
        <p>Experience the convenience of our Name Extractor App and enhance your productivity today!</p>
    </div>
</body>
</html>
